$AppDefaultFontSize: rem(16);
$AppMainColor: #007aff;

$AppBackgroundColorLight: #f5f5f7;
$AppBackgroundColorDark: #1d1d1f;
$AppTextColorLight: #f5f5f7;
$AppTextColorDark: #1d1d1f;

$black: #1d1d1f;
$deepgrey: #48484a;
$grey: #86868b;
$softgrey: #e6e6e6;
$lightgrey: #f7f7f7;
$red: #ff3b2f;
$darkred: #fe4538;
$pink: #ff2c55;
$darkpink: #fe375e;
$orange: #ff9500;
$darkorange: #ff9e0b;
$yellow: #ffcc00;
$darkyellow: #fed709;
$green: #5fca7a;
$darkgreen: #31d158;
$purple: #af52de;
$darkpurple: #bf5af2;
$blue: #007aff;
$darkblue: #0b84ff;
$indigo: #5856d5;
$darkindigo: #5e5ce6;
$cyan: #32ace6;
$darkcyan: #64d1ff;
$teal: #30b0c7;
$darkteal: #40c8e0;